{% if include.description %}
    <div id="note">
        {% if include.title %} <strong>{{ include.title }}</strong> {% endif %}
        {% if include.description %} <p>{{ include.description }}</p> {% endif %}
    </div>
    <style type="text/css">
        div#note {
            margin: 2em 0 !important;
            padding: 1em;
            color: #494e52;
            font-family: Georgia,Times,serif;
            font-size: .75em !important;
            text-indent: initial;
            background-color: #ecf6ec;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(63,166,63,0.25);
        }
    </style>
{% endif %}