<div class="series_next">
  {% if include.previous_slug or include.next_slug %}
    <hr>
    {% if include.previous_slug %}
      <div class="prev_post">
        {% for post in site.posts %}
          {% assign post_slug = post.url | replace: "/", "" %}
          {% if post_slug == include.previous_slug %}
            <strong>Previous Tutorial:</strong><br>
            <a href="{{ site.baseurl }}{{ post_slug }}"><strong>{{ post.series_page_title }}</strong></a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if include.next_slug %}
      <div class="next_post">
        {% for post in site.posts %}
          {% assign post_slug = post.url | replace: "/", "" %}
          {% if post_slug == include.next_slug %}
            <strong id="series_pointer_heading">Next Tutorial:</strong><br>
            <a href="{{ site.baseurl }}{{ post_slug }}"><strong>{{ post.series_page_title }}</strong></a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div style="clear: both;"></div>
    <hr>
    <style>
      .series_next {
        height: auto;
      }

      .prev_post {
        border: 1px solid #ccc;
        padding: 1.5em 2em;
        background: rgba(125,231,123,.21);
        border-radius: 0.3em;
        float: left;
        font-size: 14.5px;
        text-align: center;
      }

      .next_post {
        float: right;
        border: 1px solid #ccc;
        padding: 1.5em 2em;
        background: #1e1c3f;
        border-radius: 0.5em;
        font-size: 14.5px;
        text-align: center;
      }

      .next_post a {
        color: white;
      }

      .next_post #series_pointer_heading {
        color: #c8c3d0;
        font-size: 12.5px;
      }

      .prev_post #series_pointer_heading {
        font-size: 12.5px;
      }

      @media (max-width: 750px) {
        .prev_post {
          width: 100%;
          margin-bottom: 0.5em;
        }
        .next_post {
          width: 100%;
        }
      }
    </style>
  {% endif %}
</div>